<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hakuna Matata</title>
  </head>
  <body>
    <h2>Hello <%= user.name %></h2>
    <h1>Welcome to Hakuna Matata's Home Page</h1>
    <a href="/logout" role="button">Log Out</a>

    <form action="/post" method="POST">
      <div class="form-group">
        <textarea name="postContent" rows="5" cols="80" placeholder="What's on your mind.." ></textarea>
      </div>
      <div class="form-group">
        <input type="checkbox" name="isAnonymus">
        <label for="isAnonymus">Anonymus</label>
      </div>
      <input type="hidden" name="userID" value="<%= user.id %>">
      <button type="submit" class="btn btn-dark">Post</button>
    </form>
  </body>
</html>
