<!-- this is a temporary file -->
<form action="/insertquiz" method="POST">
  <input type="text" name="Q" value="">
  <input type="text" name="op1" value="">
  <input type="text" name="op2" value="">
  <input type="text" name="op3" value="">
  <input type="text" name="op4" value="">
  <input type="number" name="cA" value="">
  <button type="submit" name="button">inserrt</button>
</form>
