<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Hakuna Matata</title>
</head>

<body>
  <form action="/login" method="POST">
    <div class="form-group">
      <label for="username">Email</label>
      <input type="email" class="form-control" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn">Login</button>
  </form>

  <p>or</p>
  <form method="get" action="/register">
    <button type="submit" class="btn">Register</button>
  </form>
</body>

</html>
