<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Hakuna Matata</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="css/quiz.css">
</head>

<body>
  <div class="container mt-5">
    <div class="justify-content-center row ">
      <div class="col-md-10 ">
        <div class="border ">
          <div class="question bg-white p-3 border-bottom">
            <div class="d-flex flex-row justify-content-between align-items-center mcq">
              <h4>Quiz for verifying your profile</h4>
            </div>
          </div>
          <!--question part -->
          <div class="question bg-white p-3 border-bottom">
            <div class="d-flex flex-row align-items-center question-title">
              <h3 class="text-success">Q.</h3>
              <h5 class="mt-1 ml-2">Which of the following country has largest population?</h5>
            </div>
            <div class="ans ml-2">
              <label class="radio"> <input type="radio" name="q1" value="brazil"> <span>Brazil</span>
              </label>
            </div>
            <div class="ans ml-2">
              <label class="radio"> <input type="radio" name="q1" value="Germany"> <span>Germany</span>
              </label>
            </div>
            <div class="ans ml-2">
              <label class="radio"> <input type="radio" name="q1" value="Indonesia"> <span>Indonesia</span>
              </label>
            </div>
            <div class="ans ml-2">
              <label class="radio"> <input type="radio" name="q1" value="Russia"> <span>Russia</span>
              </label>
            </div>
          </div>
          <!-- submit part -->
          <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
            <div class="d-grid gap-2 col-6 mx-auto">
              <button type="button" class="btn btn-outline-primary">Submit</button>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
