<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hakuna Matata</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;900&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="css/landing.css">
  <script src="https://kit.fontawesome.com/9edd8b5e53.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>


  <body class="text-center">
    <form class="form-register">
      <img class="reg-image" src="images/talk.png" alt="image">
      <h2>Register profile</h2>
      <div class="">
        <input type="yourName" id="inputName" class="reg-form-control" placeholder="Your name" required autofocus>
      </div>
      <!-- <label for="inputEmail" class="sr-only">Email address</label> -->
      <div class="">
        <input type="email" id="inputEmail" class="reg-form-control" placeholder="Email address" required autofocus>
      </div>
      <input type="password" id="inputPassword" class="reg-form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
      </div>
      <button type="button" class="btn btn-primary login-btn">Register</button>
      <button type="button" class="btn btn-dark button bt-log-google"> Register with Google</button>
    </form>
  </body>

</html>
