<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>verify yourself</h1>
    <p>benfits of verified profile</p>
    <p>instructions for quiz</p>
    <a  class="btn btn-primary btn-sm " href="/quiz">Start Quiz</a>
  </body>
</html>
